<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="li.doerf.leavemealone">

    <!-- get notified when phone rings -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- change call state (hang up call) -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- check if number is in contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- get intent on reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".LeaveMeAloneApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.MainActivity" >
        </activity>

        <receiver android:name=".telephony.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CheckForNotificationAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
